.wrapper {
  background: rgb(175, 175, 175);
  background-image: url("https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/hawaiianbeach.ngsversion.1500050248286.jpg");
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
  background-repeat: no-repeat;
background-size: cover;
}